<div class='main-overview'>
    <div class='overview'>
        <h4>Overview</h4>
        <h3>Autocomplete aqui</h3>

        <div class="panel-overview">
            <div class='paper-first'>
                <div class='card-total'>
                    <span class='title'>Total Cases</span>
                    <span class='value'>000</span>
                    <div class='total-new'>
                        <span class='text-new'>+000</span>
                    </div>
                </div>
            </div>
            <div class='paper-second'>
                <div class='card-active'>
                    <div>
                        <span class='title'>Active</span>
                        <span class='percent'>000%</span>
                    </div>
                    <span class='value'>000</span>
                    <div class='active-new'>
                        <span class='text-new'>000</span>
                    </div>
                </div>
                <div class='card-recovered'>
                    <div>
                        <span class='title'>Recovered</span>
                        <span class='percent'>000%</span>
                    </div>
                    <span class='value'>000</span>
                    <div class='recovered-new'>
                        <span class='text-new'>+000</span>
                    </div>
                </div>
                <div class='card-death'>
                    <div>
                        <span class='title'>Death</span>
                        <span class='percent'>000%</span>
                    </div>
                    <span class='value'>000</span>
                    <div class='death-new'>
                        <span class='text-new'>+000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='stats'>
        <app-stats></app-stats>
    </div>

    

</div>

